[Desktop Entry]
Name=Axiom Software Center
Comment=Install and Remove Applications
Exec=plasma-discover
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
